      html{
        position: relative;
        min-height: 100%;
      }
      body {
        margin: 0 0 50px;
        text-align: center;
        background: url('shattered.png');
      }
      footer {
        position:absolute;
        left:0px;
        bottom:0px;
        height:30px;
        width:100%;
      }
      #map-canvas {
        height: 250px;
        width: auto;
        position: relative;
        border-radius: 4px;
        border: white solid 5px;
      }
      #settingAndGo {
        background: white;
        border-radius: 4px; 
        margin-bottom: 5px;
        padding: 4px;
      }
      #settings-show {
        display: none;
        margin: 5px auto;
        border-radius: 4px;
      }
      .settings-content {
        margin: 5px;
      }
      div#slider {
        width: 400px;
        height: 10px !important;
      }
      .ui-slider .ui-slider-handle {
        width: 18px !important;
        height: 18px !important;
        cursor: default;
      }

      .button {
        font-family: 'Roboto', sans-serif;
        border: none;
        border-radius: 3px;
        color: white;
        font-size: 10pt;
        height: 30px;
        width: 100px;
        position: relative;
      }

      .grey {
        background: #CECECE;
      }

      .blue {
        background: #99befd;
      }

      @media (min-width: 768px) {
          #content {
          width:50%;
          margin: 0 auto;
          text-align: left;
          padding: 1em;
        }
      }
      @media (max-width: 768px) {
          #content {
          width:90%;
          margin: 0 auto;
          text-align: left;
          
        }
      }

      #slot-machine {
        display: none;
        overflow: hidden; /* to hide the magic */  
        height: 21px;
        background: white;
        padding: 22px 10px 22px 10px;
        border-radius: 4px;
        margin-bottom: 5px;
      }

      #slot-marker {
        width: 100%;
        height: 20px;
        background: rgba(0, 0, 0, 0.05);
      }

      ul {
          padding: 0;
          margin: 0;
          list-style: none;
      }
      .slot {
          white-space:nowrap;
          display: none;
          text-align: center;
          top: 63px;
          font-size: 18pt;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          min-width: 220px;
          margin-top: -2px;
      }
      .blurred-text {
        text-shadow: 0 0 3px rgba(0,0,0,0.5);
        color: transparent;
        -webkit-transition: 1000ms ease 0ms;
        -moz-transition: 1000ms ease 0ms;
        transition: 1000ms ease 0ms;
      }
      .sharpened-text {
        text-shadow: none;
        color: black;
        -webkit-transition: 1000ms ease 0ms;
        -moz-transition: 1000ms ease 0ms;
        transition: 1000ms ease 0ms;
      }

      .loading {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        background: rgba(255, 255, 255, .8);
        /*background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;*/
      }

      .loading-show {
        display: table;
      }

      .loading i {
        font-size: 80pt;
        display: table-cell;
        vertical-align: middle;
      }