      html{
        position: relative;
        min-height: 100%;
      }
      body {
        margin: 0 0 50px;
        text-align: center;
      }
      footer {
        position:absolute;
        left:0px;
        bottom:0px;
        height:30px;
        width:100%;
      }
      #map-canvas {
        height: 250px;
        width: 100%;
        position: relative;
      }
      #go-button {
        height: 30px;
        width: 100px;
        position: relative;
        left: 50%;
        top: 50%;
        margin: 130px 0 0 -50px;
      }
      #settings {
        height: 30px;
        width: 100px;
        position: relative;
        left: 60%;
        top: 50%;
        margin: 130px 0 0 -50px;
      }
      #settings-show {
        display: none;
        margin: 5px auto;
      }
      .settings-content {
        margin: 5px 5px 5px 5px;
      }

      @media (min-width: 768px) {
          #content {
          width:50%;
          margin: 0 auto;
          text-align: left;
          padding: 1em;
        }
      }
      @media (max-width: 768px) {
          #content {
          width:90%;
          margin: 0 auto;
          text-align: left;
          
        }
      }

      #slot-machine {
        overflow: hidden; /* to hide the magic */  
        display: inline-block;
        height: 21px;
        background: white;
        width: auto;
        padding: 22px 10px 22px 10px;
      }

      #slot-marker {
        width: 100%;
        height: 20px;
        background: rgba(0, 0, 0, 0.05);
      }

      ul {
          padding: 0;
          margin: 0;
          list-style: none;
      }
      .slot {
          float: left;
          text-align: center;
          top: 63px;
          font-size: 12pt;
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          min-width: 220px;
          margin-top: -21px;
      }
      .blurred-text {
        text-shadow: 0 0 3px rgba(0,0,0,0.5);
        color: transparent;
        -webkit-transition: 1000ms ease 0ms;
        -moz-transition: 1000ms ease 0ms;
        transition: 1000ms ease 0ms;
      }
      .sharpened-text {
        text-shadow: none;
        color: black;
        -webkit-transition: 1000ms ease 0ms;
        -moz-transition: 1000ms ease 0ms;
        transition: 1000ms ease 0ms;
      }